# <center>Complete_Python_Basic_To_Advance</center>

## String(PART 1)

### Basic_Level_1 :

In [ ]:
name = ' Akshay Singh '

In [ ]:
name[::-1]

' hgniS yahskA '

In [ ]:
for i in name:
    print(i, end ="")

 Akshay Singh

In [ ]:
len(name)

14

### upper() and lower()

In [ ]:
name.upper()

' AKSHAY SINGH '

In [ ]:
#actual string doesn't change 
name

' Akshay Singh '

In [ ]:
name.lower()

' akshay singh '

### strip()

Remove spaces at the beginning and at the end of the string

In [ ]:
name.strip()

'Akshay Singh'

In [ ]:
#but Actual string doesn't change due to immutable property
name

' Akshay Singh '

### replace()

In [ ]:
name1 = 'AAkashSinha'
name1.replace('A','a',1)

'aAkashSinha'

In [ ]:
#immutable property
name1

'AAkashSinha'

In [ ]:
name3 = name1 + ' Arora'
name3

'AAkashSinha Arora'

In [ ]:
name1 = name1+' arora'
name1
#doubt on immutability

'AAkashSinha arora'

* Here string is immutable but varaible is mutable, we haven't change string at all

### split()

In [ ]:
name3.split()

['AAkashSinha', 'Arora']

In [ ]:
print(name3[0: ])
print(name3[: -2 ])
print(name3[:: -1 ]) #step size 1
print(name3[:: -3 ]) # step size 3

AAkashSinha Arora
AAkashSinha Aro
arorA ahniShsakAA
araisA

In [ ]:
string1 = 'I love reading the technical books'

find( ) function returns the index value of the given data that is to found in the string. If it is not found it returns -1.

### Searching substring

* **find()**
* **index()**
* **not used widely private method str.__contains()__**

***find and index both return index value but a little bit difference way when substring not found***

### find()

In [ ]:
print(string1)
print(string1.find('reading'))# starting index
print(string1.find('tech'))
print(string1.find('beautiful'))# return -1 if not found

I love reading the technical books
7
19
-1

**One can also input find( ) function between which index values it has to search.**

In [ ]:
print(string1.find('love', 10)) #start searching from 10th index
print(string1.find('love', 2)) #start searching from 2nd index

-1
2

In [ ]:
#finding substring very effectively
'Good Morining'.find('Mo')

5

### index()

In [ ]:
print(string1)
print(string1.index('love'))

I love reading the technical books
2

In [ ]:
print(string1.index('love',1, 10)) #searching from 1 to 10(1 and 10 are inclusive)
#NOTE: index method will raise an error if sustring not found(difference of find() and index())

2

However we are looking for exact word here rather than substring

In [ ]:
#let say i'm looking for 'love' exact word
print(string1.find('lov'))
print(string1.find('love'))
#get the same result

2
2

**For the specific pattern regex is "The" best approach**

### join()

**join is used to convert list of item into a string.**

***NOTE: join( ) function is used add a char in between the elements of the input string.***
***also used for conversion from list to string(IMP)***

In [ ]:
list_string = list('akshay Singh is a good boy')
print(list_string)

['a', 'k', 's', 'h', 'a', 'y', ' ', 'S', 'i', 'n', 'g', 'h', ' ', 'i', 's', ' ', 'a', ' ', 'g', 'o', 'o', 'd', ' ', 'b', 'o', 'y']

In [ ]:
string_list = ''.join(list_string)
string_list

'akshay Singh is a good boy'

In [ ]:
print(type(string_list))

<class 'str'>

In [ ]:
print(string_list.replace('is a good boy', 'become a good boy'))# temporary changes
print(string_list) #immutable property

akshay Singh become a good boy
akshay Singh is a good boy

In [ ]:
#join is used to convert list of item into a string.
' '.join(['This','will','join','a','string','based','on','given','join','character'])

'This will join a string based on given join character'

In [ ]:
','.join(['This','will','join','a','string','based','on','given','join','character'])

'This,will,join,a,string,based,on,given,join,character'

In [ ]:
'-'.join(['This','will','join','a','string','based','on','given','join','character'])

'This-will-join-a-string-based-on-given-join-character'

### Basic_Level_2:

### isalpha()

In [67]:
name = 'Akahaymanu123'
name.isalpha()# space not count as alphabates

False

In [ ]:
name2="Asgfdghiy"
name2.isalpha() #only alphabates -> NO

True

### isalnum()

In [ ]:
name.isalnum() #(alhabates "or" numeric)

True

In [68]:
" Akshay   ".isalnum()# space must not involved

False

***NOTE: character is also a string in python.***

In [ ]:
#1
sent='Deep learning is the future'
list_words=sent.split()
print(list_words)

#2
temp=sent.split('i')
print(temp)

#NOTE: Split method returns "list" of words in string not containing the split character.

dumy=sent.partition('i')
print(dumy)

#NOTE: partition method returns "tuple" of words in string including the separator.

['Deep', 'learning', 'is', 'the', 'future']
['Deep learn', 'ng ', 's the future']
('Deep learn', 'i', 'ng is the future')

In [ ]:
#Practicle_Example_(1):
#Count number of alphabates in a string and return that string also


#CODE:
name4='Akahaymanu123'
print('string:', name4)
count_alp = 0
new_alp =''
for i in name4:
    if i.isalpha() == True:
        count_alp += 1
        new_alp += i
print('number of aplhabates: ', count_alp)
print('aplhabates string : ', new_alp)

string: Akahaymanu123
number of aplhabates:  10
aplhabates string :  Akahaymanu

### isspace()

In [ ]:
print("   ".isspace())#return true if all characters are space
print(" a  ".isspace())

True
False

In [ ]:
#Practicle_Example_(2):(
#Count number of spaces in a string
#CODE:
name="  Akshay Singh "
print('String :', name)
count_space = 0
for i in name:
    if i.isspace():
       count_space += 1
print("number of space:", count_space)

String :   Akshay Singh
number of space: 4

In [ ]:
#Practicle_Example_(3):
#Count number of words in a sentence

#code:
sent='Akshay learnt pyhton using jupyter notebook'
print(sent)
words_list=sent.split()#split takes default as space
print(len(words_list))

Akshay learnt pyhton using jupyter notebook
6

In [ ]:
#Practicle_Example_(4):
#Check Palindrome


#CODE(1):
string = '12321'
if string[0:] == string[ :: -1]:
    print('palindrome')
else:
    print("not palindrome")
    
    
#CODE(2):
str1 = ''
for i in string:
    str1 = i + str1   #reverse concatenation
if str1 == string:
    print('palindrome')
else:
    print("not palindrome")

palindrome
palindrome

In [ ]:
#Practicle_Example_(5):
#reverse a senetence but word doesn't reversed 


#CODE(3):
sent='Akshay learnt pyhton using jupyter notebook .'
print(sent)
rev_sent =''#empty string
words_list=sent.split()
words_list.reverse()
words_list.remove('.')
for i in words_list:
    rev_sent = rev_sent + i + ' '#append
    
print(rev_sent)

#2nd method
print('------2nd Way------')
words = sent.split()
words.reverse()
words.remove('.')
print(' '.join(words))

Akshay learnt pyhton using jupyter notebook .
notebook jupyter using pyhton learnt Akshay
------2nd Way------
notebook jupyter using pyhton learnt Akshay

In [ ]:
#Practicle_Example_(6):
#Count number of vowels and remove them


#CODE:
name="Unix operating system is best"
print(name)
Vowels = set('aeiouAEIOU')
name2 = ''
count_vow = 0
for i in name:
    if i in Vowels:
        count_vow += 1
    else:
        name2 += i 
print('Number of vowels: ', count_vow)
print(name2)

Unix operating system is best
Number of vowels:  9
nx prtng systm s bst

In [ ]:
#Practicle_Example_(7):
#count maximum word length


#CODE(1):
print(sent)
words_list=sent.split()
words_ = []
for i in words_list:
    words_.append(len(i))
print('max len word: ', max(words_))

#second more efficient method(2)
max_word=0
for i in words_list:
    if len(i) > max_word:
        max_word=len(i)
print(max_word)

Akshay learnt pyhton using jupyter notebook .
max len word:  8
8

## Data Structures in python

#### Tuple

In [72]:
tup_num = tuple('12345612539864')
tup_num

('1', '2', '3', '4', '5', '6', '1', '2', '5', '3', '9', '8', '6', '4')

In [ ]:
t=(1,2,3)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3)

In [ ]:
#only one element, then is tuple
#(boundary case)
tup=("string")
type(tup)

str

#### only parenthesis not enough

In [ ]:
#need , (boundary case)
tupl=("string123",)
print(type(tupl))
print(tupl)

<class 'tuple'>
('string123',)

In [ ]:
#indexing within a nested tuple
tup=(2,('ram','shyam','pankaj'))
#inorder to get "shyam" in nested tuple
tup[1][1]

'shyam'

In [69]:
#repeat a tuple for a given number of times
t=(("string",) *3)
t

('string', 'string', 'string')

### Count()

In [73]:
print(tup_num)
tup_num.count('2')

('1', '2', '3', '4', '5', '6', '1', '2', '5', '3', '9', '8', '6', '4')

2

### min() and max() in tuple

In [ ]:
print(max(tup_num))
print(min(tup_num))

9
1

In [ ]:
#list_Conversion into tuple
print(words_list)
tup2 = tuple(words_list)
print(tup2)

['Akshay', 'learnt', 'pyhton', 'using', 'jupyter', 'notebook', '.']
('Akshay', 'learnt', 'pyhton', 'using', 'jupyter', 'notebook', '.')

In [ ]:
#string_Conversion into tuple
print('String :', name1)
tup3 = tuple(name1) 
print(tup3)

String : AAkashSinha
('A', 'A', 'k', 'a', 's', 'h', 'S', 'i', 'n', 'h', 'a')

In [ ]:
listP = [10,20,30]
listN = [-10,-20,-30]
tupP_N = (listP, listN)
tupP_N

([10, 20, 30], [-10, -20, -30])

In [ ]:
#nested access inside tuple
for i in tupP_N:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
-10 -20 -30

### List_Concept

### Basic_Level_1:

In [74]:
#Hetrogenuis elements in list
temp_list = [2,3,4,3,2,4,5,6,7,'@akshaySingh','@Ram']
temp_list

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram']

### append

In [75]:
#insert at end
temp_list.append('kashu')
print(temp_list)

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram', 'kashu']

### insert

In [ ]:
#insert at specific position
temp_list.insert(4,90)
print(temp_list)

[2, 3, 4, 3, 90, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram', 'kashu']

### remove

In [ ]:
#item which we want to remove
temp_list.remove(90) # removes takes item 
print(temp_list)

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram', 'kashu']

### pop

In [ ]:
temp_list.pop() #remove from last 
print(temp_list)

#OR

temp_list.pop(0) #pop also takes index number
temp_list

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram']

[3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram']

### reverse

In [ ]:
temp_list.reverse()
print(temp_list)

['@Ram', '@akshaySingh', 7, 6, 5, 4, 2, 3, 4, 3]

### count

In [ ]:
print(temp_list)
print(temp_list.count(3))

['@Ram', '@akshaySingh', 7, 6, 5, 4, 2, 3, 4, 3]
2

### sort

In [ ]:
temp_list.remove('@Ram')
temp_list.pop(0)

########

#permanent sort 
temp_list.sort()
temp_list

[2, 3, 3, 4, 4, 5, 6, 7]

### sorted

In [ ]:
#temorary sort
temp_list = [3,4,1,2,1,8,0,1,9]
print(sorted(temp_list)) 
print(temp_list)# Actual list doesn't change

[0, 1, 1, 1, 2, 3, 4, 8, 9]
[3, 4, 1, 2, 1, 8, 0, 1, 9]

### extend

In [ ]:
list_new = ['raju', 'ram', 'shyam', 'ramu']
temp_list.extend(list_new)
print(temp_list)

print('--see difference from append--')
temp_list.append(list_new)
print(temp_list)

[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu']
--see difference from append--
[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]

### list Slicing

In [ ]:
print(temp_list[0:])
print(temp_list[2:5]) # 5 is exclusive 
print(temp_list[:-2]) #-2 is exclusive
print(temp_list[-3:])
print(temp_list[::-1]) # -1 step
print(temp_list[::-3])
print(temp_list[3])

[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[1, 2, 1]
[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam']
['shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[['raju', 'ram', 'shyam', 'ramu'], 'ramu', 'shyam', 'ram', 'raju', 9, 1, 0, 8, 1, 2, 1, 4, 3]
[['raju', 'ram', 'shyam', 'ramu'], 'ram', 1, 1, 4]
2

### In operator in list iteration

In [ ]:
company_list = ['TCS', 'Infosys', 'Google', 'Flipkart', 'Accenture', 'Wipro','Deloitte']
print('Flipkart' in company_list)
print('twitter' not in company_list)
print('Mahindra' in company_list)

True
True
False

In [ ]:
tup1 = (1,2,3)
tup2 = (4,5,6)
lis_tup = [tup1, tup2]
print(lis_tup)

[(1, 2, 3), (4, 5, 6)]

In [ ]:
#access nested list 
for i in lis_tup:
    for j in i:
        print(j, end=" ")
    print()

1 2 3
4 5 6

### Comarison traditional vs Comrehension

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
new=list()
new.append(l1)
new.append(l2)
new.append(l3)
print(new)

li=[]
for i in new:
  li.append(i[0])
print(li)

#OR(Using Comprehension)

li=[i[0] for i in new]
print(li)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 4, 7]
[1, 4, 7]

In [ ]:
#reversing only string list of element by place as well as there position

dumy=[1,2,3,4,5,6,7,8,['abc','def','xyz']]
temp=[]
for i in dumy:
  if type(i) == list:
      for s in i:
        temp.append(s[::-1])
temp[::-1]

['zyx', 'fed', 'cba']

### Basic_Level_2:

### max

In [ ]:
list1 = [2,3,4,1,2,3,9,8]
max(list1)

9

### len

In [76]:
len(temp_list)

12

### sum

In [77]:
sum(temp_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Pyhton Advance Swapping

In [ ]:
#Practicle_Example_(1):
#Swapping inside list


#CODE (1):
print(temp_list)
pos1 = 0 
pos2 = 7
temp_list[pos1], temp_list[pos1] = temp_list[pos2], temp_list[pos2]
print(temp_list)


#CODE (2): Much appropriate way
temp = temp_list[3], temp_list[5]
temp_list[5], temp_list[3] = temp
print(temp_list)

[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[1, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[1, 4, 1, 8, 1, 2, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]

In [ ]:
#Practicle_Example_(2):
#Number of +ve and -ve elements are in the list


#CODE (1):
list1 = [-1, -2, -3, 4, 5, 6, 7]
listN = list(i for i in list1 if i < 0) #Comprehension Method(IMP.)
print(listN)
print('Number of +ve elements and -ve elements are: ',len(listN),'and',  len(list1) - len(listN))

#CODE (2):
listP = list(filter(lambda i: i > 0,list1))
print(listP)

In [ ]:
#Practicle_Example_(3):
#Number of even and odd elements in the list


#CODE:
list2 = [1,2,3,4,5,6,7,8,9]
evenList = list(filter(lambda i : i%2 == 0 , list2))
print(evenList)
print(len(evenList))

In [ ]:
#Practicle_Example_(4):
#Map method


#CODE:
map_list = list(map(lambda i : i*2, list2))
print(map_list)

### not in operator

In [ ]:
#Practicle_Example_(5):
#Removing Elements from known List
 
#CODE (1):
print(temp_list)
re_item = [3, 4]
for i in re_item:
    temp_list.remove(i) # basic method
print(temp_list)


#CODE (2):
list3 = [7, 3, 5, 4, 6, 7]
list_new = [i for i in list3 if i not in re_item ] # Comprehensive method 
print(list_new)

In [ ]:
#Practicle_Example_(5):
#Removing Duplicates (Using NOT IN operator)


#CODE:
Duplicates_list = [1,1,2,2,3,4,5,6,7,7,8,8,8,9,10]
dummy =[]
for i in Duplicates_list:
    if i not in dummy:
        dummy.append(i)
print(Duplicates_list)
print(dummy)
# CODE:
#using set
print(list(set(Duplicates_list)))

[1, 1, 2, 2, 3, 4, 5, 6, 7, 7, 8, 8, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Advance Concepts :-

* 1. difference between extend and append
* 2. append(): appends whole object at end

In [ ]:
a = [1,3,2,4]
a.append([5,6])
a

* extend: extends list by appending elements from the iterable:

In [ ]:
b = [10,30,20,40]
b.extend([50,60])
b

* Note this occurs in place! Meaning it affects your list permanently.

In [ ]:
b.reverse()
b

In [ ]:
b.sort()
b

### list comprehension

In [ ]:
sqr=[i**2 for i in range(2,11)]
sqr

In [ ]:
#define nested list as matrix
matrix=[
        [1,2,3,4],
        [5,6,7,8],
        [9,8,10,11]
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 8, 10, 11]]

In [ ]:
#transpose in pyhton as trditional ways
transpose=[]
for column in range(4):
  col=[]
  for row in matrix:
    col.append(row[column])
  transpose.append(col)

transpose

[[1, 5, 9], [2, 6, 8], [3, 7, 10], [4, 8, 11]]

* **why list comprehension**
    * **Pros: more effective and less line of code**
    * **Cons: readability of code may goes decrease**

In [ ]:
#using list comprehension 
tr=[[r[i] for r in matrix] for i in range(4)]
tr

[[1, 5, 9], [2, 6, 8], [3, 7, 10], [4, 8, 11]]

### conversion of list<->tuple<->set for use cases

In [ ]:
tup=(1,2,3,4,5,['Aks','Hay','is','Learn','Machine'],7,8,9)
tup

(1, 2, 3, 4, 5, ['Aks', 'Hay', 'is', 'Learn', 'Machine'], 7, 8, 9)

In [ ]:
#for the updation in tuple
lis=list(tup)
lis[2]=20
lis

[1, 2, 20, 4, 5, ['Aks', 'Hay', 'is', 'Learn', 'Machine'], 7, 8, 9]

In [ ]:
set1=set("123456789")
set1

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

**NOTE:**

In [ ]:
#slicing or subscripting is not allowed in sets due to unorderd property of sets
#but we can perforn subscripting by using for loop i.e. set1[1] gives you an error 
for i in set1:
    print(i,end=" ")

* **Set may be  quite handy inoder to remove duplicates from list or tuple**

In [ ]:
#for duplicay
lis=list(set1)
print(lis)
lis.insert(3,12)
print(lis)

In [ ]:
dumySet={0,False,1,2,2,2,2,3,3,3,6,True,1}
dumySet
#false ==> 0 and True ==> 1

### Dictionary in Python :-

### creating a dictionary

In [78]:
temp_dict = {"101AB": "Ramu",
         "100AC": "Raja",
             "111AU": "Shyam"
}
temp_dict

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Shyam'}

### Accessing elements

In [79]:
temp_dict["101AB"]

'Ramu'

In [80]:
temp_dict.get("100AC")

'Raja'

In [81]:
#wrong key(generate bad error)
temp_dict['Cc']

KeyError: 'Cc'

* in handle such situation we use **get** methods which works more precisely
* return None if key doesn't exist

In [82]:
val=temp_dict.get('Cc')
print(True) if val == None else print(val)
#ternary operator in pyhton

True

### insertion or overwrite the key value

In [83]:
temp_dict["111AU"] = "Rakesh"
temp_dict

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Rakesh'}

### iteration over the dictinary

In [84]:
print(temp_dict)
for i in temp_dict:
    print(i,": ", temp_dict[i])

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Rakesh'}
101AB :  Ramu
100AC :  Raja
111AU :  Rakesh

### values()

In [85]:
print(temp_dict.values())
for i in temp_dict.values():
    print(i)

dict_values(['Ramu', 'Raja', 'Rakesh'])
Ramu
Raja
Rakesh

### items()  
* return list of tuple with key-value pair

In [86]:
print(temp_dict.items())
for i,j in temp_dict.items():
    print(i, j)

dict_items([('101AB', 'Ramu'), ('100AC', 'Raja'), ('111AU', 'Rakesh')])
101AB Ramu
100AC Raja
111AU Rakesh

### Searching 'key' without iteration

In [87]:
print('True') if '100AC' in temp_dict else print('False')

True

### Searching 'value' without iteration

In [88]:
print('True') if 'Rakesh' in temp_dict.values() else print('False')

True

### len: 
* length of dictionary

In [89]:
len(temp_dict)

3

In [90]:
print(temp_dict)
temp_dict["101AQ"] = "Wahab" #insertion
temp_dict

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Rakesh'}

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Rakesh', '101AQ': 'Wahab'}

### Remove Elements from Dictionary
* Popular methods are:
    * 1.pop() 
    * 2.popitems()

### pop 
* **Difference between list pop and dictionary pop**
    * in list pop takes one argument as index or also work for without argument but in dictionary it also takes  index but as a 'key'

In [ ]:
print(temp_dict)
temp_dict.pop("101AB")
temp_dict

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Shyam'}

{'100AC': 'Raja', '111AU': 'Shyam'}

### popitem

* Remove last key-value pair

In [91]:
temp_dict.popitem()

('101AQ', 'Wahab')

NOTE: Use of del

In [ ]:
del temp_dict['100AC']
print(temp_dict)

{'111AU': 'Shyam'}

### clear

In [ ]:
temp_dict.clear()
print(temp_dict)
del temp_dict #permanently delete the dictionary variable

{}

In [ ]:
temp_dict = {"101AB": "Ramu",
         "100AC": "Raja",
             "111AU": "Shyam"
}
temp_dict

{'100AC': 'Raja', '101AB': 'Ramu', '111AU': 'Shyam'}

In [ ]:
temp_dict2 = {"10AB": "Ru",
         "100C": "Ra",
             "111U": "Shm"
}

### update
* use for concatination
* use for updating values of key
* use for extending dictionary

* **The update() method adds element(s) to the dictionary if the key is not in the dictionary. If the key is in the dictionary, it updates the key with the new value.** 
* **Update arguments:**
    * The update() method takes either a dictionary or an iterable object of key/value pairs**

In [ ]:
temp_dict.update(temp_dict2)
temp_dict

In [ ]:
#also the way of estension of dictionary
di={'e':8, 'f': 9 }
temp_dict.update(di)
print(temp_dict)

In [ ]:
#Updating key value
temp_dict.update(e=5)
temp_dict

### sorted
* takes list of value as input

In [92]:
print(temp_dict)
print(sorted(temp_dict))
print(temp_dict.keys())

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Rakesh'}
['100AC', '101AB', '111AU']
dict_keys(['101AB', '100AC', '111AU'])

In [93]:
for i in sorted(temp_dict.values()):
    print(i, end=" ")

Raja Rakesh Ramu

* **Use Cases**
    * one key with multiple values

In [ ]:
temp_di = {"101AB": ("Ramu", 32 , "Male"),
         "100AC": ("Raja", 31 , "Male"),
             "111AU": ("Shyam", 33 , "Male"),
           "101AQ": ("Radha" , 29, "Female")
}
temp_di

{'100AC': ('Raja', 31, 'Male'),
 '101AB': ('Ramu', 32, 'Male'),
 '101AQ': ('Radha', 29, 'Female'),
 '111AU': ('Shyam', 33, 'Male')}

In [ ]:
#return tuple 
temp_di["101AB"]

('Ramu', 32, 'Male')

In [ ]:
for i in temp_di["101AB"]:
    print(i)

In [ ]:
for i in temp_di:
    print(i,": ",end="")
    for j in temp_di[i]:
        print(j, end=" ")
    print()

101AB : Ramu 32 Male
100AC : Raja 31 Male
111AU : Shyam 33 Male
101AQ : Radha 29 Female

In [ ]:
dic = {'key1': 1 , 'key2': 2 , 'key3': 3}
sum(dic.values())

### Use of Zip 
* method returns a tuple where
* the i-th element comes from the i-th iterable argument.

In [94]:
name = ['aakash', 'raju', 'madhav']
marks = [92, 89, 91]
roll_no = ['00cs10', '00cs13', '00cs17']

In [95]:
#crearting zip object
mapp = zip(roll_no, name, marks)
print(mapp)

<zip object at 0x7f7b73140dc0>

**Note: We will get list containing tuples**

In [96]:
#converting into list makes use of it
mapping = list(mapp)
print(mapping)

[('00cs10', 'aakash', 92), ('00cs13', 'raju', 89), ('00cs17', 'madhav', 91)]

In [ ]:
for r,n,m in zip(roll_no,name,marks):
    print("Roll_no- {} : Name - {} : Marks- {} ".format(r,n,m))

Roll_no- 00cs10 : Name - aakash : Marks- 92
Roll_no- 00cs13 : Name - raju : Marks- 89
Roll_no- 00cs17 : Name - madhav : Marks- 91

### Unzipping
* return tuples object

In [97]:
roll_, name_,marks_ = zip(mapping)
print(roll_)
print(name_)
print(marks_)

(('00cs10', 'aakash', 92),)
(('00cs13', 'raju', 89),)
(('00cs17', 'madhav', 91),)

In [ ]:
#Practicle Example of ZIP
#CODE:

teamName = ['MI', 'RCB', 'CSK',' HYD']
scorePoint = [43, 41, 46, 49]
rate = [1.231, 1.001, 2.789, 2.781]

for i,j,k in zip(teamName, scorePoint, rate):
    print('TEAM:',i, 'SCORE:', j ,'RATE: ', k)

TEAM: MI SCORE: 43 RATE:  1.231
TEAM: RCB SCORE: 41 RATE:  1.001
TEAM: CSK SCORE: 46 RATE:  2.789
TEAM:  HYD SCORE: 49 RATE:  2.781

### Dictionary Comprehension

**unlike list, instead taking value only it takes key+value**

In [ ]:
cub={i: i**3 for i in range(2,11)}
cub

In [ ]:
d={'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5, 'f': 6}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
#complex Code
new_dic={}
for key,val in d.items():
  if val > 2:
    new_dic[key] = val ** 2
new_dic

{'c': 9, 'd': 16, 'e': 25, 'f': 36}

In [ ]:
#using dictionary comprehension avoiding many lines of code just like list comprehension
sq_dic=dict()
sq_dic={key:val ** 2 for key,val in d.items() if val > 2}
sq_dic

{'c': 9, 'd': 16, 'e': 25, 'f': 36}

In [ ]:
#more complex operartion
cube_dic=dict()
cube_dic={key+'c':val ** 3 for key,val in d.items() if val > 2}
cube_dic

{'cc': 27, 'dc': 64, 'ec': 125, 'fc': 216}

### Gives all methods related to dictionary

In [ ]:
print(dir(cube_dic))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Basic Functions in Python

### (1) Lambda Function :-

* ***no exlplicit return required***

In [ ]:
sqr=lambda k: k**2

In [ ]:
sqr(16)

256

In [ ]:
#Code:
#Finding greater number between two numbers

def greater(x,y):
     print(x) if x > y else print(y) 
greater(3,5)


#code(Lambda Function):
sml = lambda x,y: x if x < y else y 
sml(3,5)

5

3

### (2)Reduce Function :-

*  **signature of both map and reduce are same**
*  **reduce perform aggreagtion operation over a sequence or iterable object**

* ***aggregation function only required two arguments So reduce only work with two arguments***

In [ ]:
#code:
#Summing all elements of a list


from functools import reduce  
list1 = [1,2,3,4,5,6,7,8,9,10]
summ = reduce(lambda x,y : x + y, list1) 
print(summ)

55

In [ ]:
from functools import reduce
l=[1,2,3,4,5]
reduce(lambda x,y:x+y,l)

15

In [ ]:
def test(m,n):
  return m*n

#aggregation output for a single iterable list
reduce(test,l)

120

In [ ]:
max_find = lambda a,b: a if a>b else b
l=[10,2,3,4,5]
reduce(max_find,l)

10

In [ ]:
#or
reduce(lambda x,y: x if x < y else y , l)

2

### Filter Function :-

*  **Filter() function works on some condition and give you the required list object**
*  **Filter return true condition data value**
*  **filter and map both have same signature**

In [ ]:
#Code:
#getting odd values


odd = list(filter(lambda x: x % 2 != 0 ,list1)) 
odd

[1, 3, 5, 7, 9]

In [ ]:
def is_even(num):
  if num % 2 == 0:
    return True

print(l)
list(filter(is_even,l))

[10, 2, 3, 4, 5]

[10, 2, 4]

In [ ]:
list(filter(lambda num: num % 2 != 0, l))

[3, 5]

## iterator vs iterable
    * in iterable objects all values fed up with the memory 
    * but in iterator objects all values doesn't stored in the memory at the same time
    * list is iterable
    * generator function is used to create iterator

* **__iter__ or iter() is used to make iterable object into iterator**

### iter

In [ ]:
l.__iter__()

In [ ]:
obj=l.__iter__()

In [ ]:
for i in obj:
  print(i)

10
2
3
4
5

In [ ]:
#or
b=iter(l)

In [ ]:
for i in b:
  print(i)

10
2
3
4
5

In [ ]:
type(iter(l))

list_iterator

### Map Fuction :-

* **Map is commonly used with lambda function inorder to avoid manually or extra coding like looping and outside function kind of thing**

In [ ]:
#traditional looping

In [ ]:
def fahrenheit(T):
  return ((float(9)/5)*T + 32)

def celseuis(T):
  return ((float(5)/9)*(T-32))

In [ ]:
temp=[0,22,5,40,100]
a=[]
for i in temp:
  a.append(fahrenheit(i))

a

[32.0, 71.6, 41.0, 104.0, 212.0]

* **USE OF MAP ignoring loop**

In [ ]:
li_temp=list(map(fahrenheit,temp))

In [ ]:
li_temp

[32.0, 71.6, 41.0, 104.0, 212.0]

In [ ]:
list(map(celseuis,li_temp))

[0.0, 21.999999999999996, 5.0, 40.0, 100.0]

In [ ]:
#code:
#mapping each value of the list

Mul_list = list(map(lambda i : i * 2 ,list1))
print(Mul_list)

#or also do this by list comprehesion
lis_sqr=[i * 2 for i in list1] #but it includes looping
lis_sqr

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#traditional approach
l=["sudhanshu","Akshay","singh","kumar","avadhesh"]
k=[]
for i in l:
  k.append(i.upper())

k

['SUDHANSHU', 'AKSHAY', 'SINGH', 'KUMAR', 'AVADHESH']

In [ ]:
#map methods
def Upper(string):
  return string.upper()

list(map(Upper,l))

['SUDHANSHU', 'AKSHAY', 'SINGH', 'KUMAR', 'AVADHESH']

In [ ]:
#or much more handy with lambda
list(map(lambda a: a.upper() ,l))

['SUDHANSHU', 'AKSHAY', 'SINGH', 'KUMAR', 'AVADHESH']

**NOTE:Lamda Function adavanatge is that, we don't need to create an outside function**

In [98]:
#best example
#map with lambda with two arguments i.e we need two list
a=[1,2,3,4]
b=[5,6,7,8]

list(map(lambda x,y: x+y,a,b))

[6, 8, 10, 12]

In [99]:
#Map is now much more handy rather than list comrehension and without saparatte function with the power of lambda 
c=[7,8,9,3]
list(map(lambda x,y,z:x+y+z,a,b,c))

[13, 16, 19, 15]

In [ ]:
def test(m,n):
  return m+n

list(map(test,a,b))

[6, 8, 10, 12]

#### NOTE: lambda provide more flexibility; map always perform row wise operation on list

In [ ]:
a=map(test,a,b)

In [ ]:
next(a)

8

In [ ]:
next(a)

6

## Function Agrguments:

In [ ]:
#arbitary argument(varArgs)
def great(*args):
  print(args)
  print(type(args))#very important
  
  for i in args:
    print(i,end=" ")

great("Akshay","Singh",'is ','very','imotional')

('Akshay', 'Singh', 'is ', 'very', 'imotional')
<class 'tuple'>
Akshay Singh is  very imotional

In [108]:
tup = tuple("2345")
print(tup)
print(tup.index('5'))

print(tup.index('7'))

('2', '3', '4', '5')
3

ValueError: tuple.index(x): x not in tuple

In [ ]:
#default Argument
def great(name,msg="Good morning"):

    print("Hello {0}, {1} ".format(name,msg))

great("Akshay","Goodnight")
great("manu")

Hello Akshay, Goodnight
Hello manu, Good morning

In [ ]:
#key words arguments(Most Popular)
#**kwargs is dictionary
def great(**kwargs):
    print(kwargs)
    print("hello {0} , {1}".format(kwargs['name'],kwargs['msg']))

  
great(name="Akshay", msg="Good Morning")

{'name': 'Akshay', 'msg': 'Good Morning'}
hello Akshay , Good Morning

### Example

In [ ]:
#less efficient
def add_N(*var_args):
    summ = 0 
    for i in var_args:
        summ += i
    print('the sum is',summ)
    
add_N(1,2,3,4,5)   


#second method(more efficient)

def add_N(*var_args):
    print("type of variable length argument: ", type(var_args))
    print(sum(var_args))
    
    
add_N(1,2,3,4,5)

the sum is 15
type of variable length argument:  <class 'tuple'>
15

### Airthmatic Basic Function:-

### round

In [ ]:
print(round(3.567))
print(round(3.56751,3))
print(round(3.467))

4
3.568
3

### pow

In [ ]:
print(pow(2,3))
print(pow(2,3,3)) #(remainder) 2^3 % 3 ==> 2

8
2

### divmod

In [109]:
div_mod=divmod(11,3) # return (Quoitient , remainder)
print(div_mod)
print(div_mod[0])
print(div_mod[1])

(3, 2)
3
2

### range

In [ ]:
for i in range(3):# default start from 0
    print(i, end=" ")
print('\n')

for k in range(2,6): # 2 is inclusive and 6 is exclusive
    print(k, end=" ")
print('\n')

for l in range(1,10,2): #2 is step size
    print(l, end=" ")

0 1 2

2 3 4 5

1 3 5 7 9

### complex and abs

In [ ]:
comp = complex('4+3j')
print(abs(comp))
print(abs(-1000))

5.0
1000

### floor Division

In [ ]:
print(1/2)
print(3//2)
print(2.0/2)
print(2.0//2)
print(2//2)

0.5
1
1.0
1.0
1

### Taking Multiple input at a time :-
* Using split() method
* Using List comprehension

### Method 1 split

In [111]:
x,y,z = input().split()
print(type(x))

1 2 3
<class 'str'>

In [ ]:
print(x,y,z)

1 2 4

In [ ]:
k = list(map(int, input().split()))

1 2 3 4 5 6 7 8

In [ ]:
k

[1, 2, 3, 4, 5, 6, 7, 8]

In [119]:
#value error Exception will be raised if less than or more than 2 arguments given in map
x, y = map(int, input('Input exactly two value').split())
print(x)
print(type(x))

Input exactly two value1 2
1
<class 'int'>

### Method 2 list comprehension

In [122]:
y = [int(x) for x in input("Enter multiple values: ").split()] 
print(y)

Enter multiple values: 10 5 3
[10, 5, 3]

### retrun multiple value

In [ ]:
def test(name):
  return  name*3 , name*2


a,b=test("Aks")
print(a,b)

AksAksAks AksAks

In [ ]:
def test1(k):
  return k+2,k**3


a, _ = test1(2)
a

4

In [ ]:
def test():
  return [1,2,3,4], {'A':'Akshay','B':'Singh'}


_,dic=test()
dic

{'A': 'Akshay', 'B': 'Singh'}

### C like Approach

In [ ]:
def greeting(name):
  print('Hello %s !' %name)

greeting("Akshay Singh")

Hello Akshay Singh !

### Basic For Else Loop

In [ ]:
for i in [1,2,'Aks',3,4,5,6]:
  if type(i) == str:
    break
  print(i,end=" ")
else:
  print('\nItems Exausted')
print('\nEnd of Program\n\n')

#and

for i in [1,2,'Aks',3,4,5,6]:
  if type(i) == int :
      print(i,end=" ")
else:
  print('\nItems Exausted')
print('\nEnd of Program')

#NOTE: else only executed when for loop never interrupted

1 2
End of Program


1 2 3 4 5 6
Items Exausted

End of Program

### iterator vs iterable vs generator

* NOTE: 'str' object is not an iterator

* string is iterable not iterator so we have to use iter to make it iterator

* but int is not an iterable

* NOTE: for loop is only able to iterate the iterable objects because internally iter() function make it iterator

* range(0,num) is also not iterator its only iterable object

**next and iter() working into the backend of for loop to make iterable object into iterator**

Doubt1 : partition 
    sent="Deep learning is the future"
sent.partition('i')

In [ ]:
#string object is not iterator
next("Akshay Singh")

TypeError: 'str' object is not an iterator

In [123]:
a=iter("Akshay")
next(a)

'A'

In [124]:
next(a)

'k'

In [125]:
a=iter(5)

TypeError: 'int' object is not iterable

****NOTE: Make Sure in order to make anything object iterator first it should be iterable****

In [ ]:
lis=iter("Akshay")
for i in range(len("Akshay")):
  print(next(lis))

A
k
s
h
a
y

In [ ]:
a=range(0,4)
a

range(0, 4)

In [ ]:
next(a)

TypeError: 'range' object is not an iterator

In [126]:
itr=iter(range(0,4))
print(type(itr))
for i in itr:
  print(i)

<class 'range_iterator'>
0
1
2
3

#### NOTE: making generator object using yield

In [ ]:
#generator
def genCube(n):
  for x in range(n):
    yield x**3

#yield is used to generator type of object when we dont wnat to allocate memory at the same time

In [ ]:
def test_gen():
  for i in range(3):
    yield i**2

In [ ]:
gen=test_gen()
type(gen)

generator

In [ ]:
print(gen)

<generator object test_gen at 0x7f66383e4570>

In [ ]:
for i in gen:
  print(i)

0
1
4

### Swapping

In [ ]:
a,b,c,numbers=5,6,7,[1,2,3,3]
print(a)
print(b)
print(c)
print(numbers)

5
6
7
[1, 2, 3, 3]

In [ ]:
def genFibonacci(n):
  a=1
  b=1
  for i in range(n):
    yield a
    a,b=b,a+b

In [ ]:
for i in genFibonacci(8):
  print(i)

1
1
2
3
5
8
13
21

### formatted String like positional parameter :-

In [ ]:
#positional 
#and keyword argument (we need to pass key + value in the function in case of kwargs)
def greeting(name,age):
  print('my name is {} and my age is {}'.format(name,age))

In [ ]:
greeting("Akshay",22)

my name is Akshay and my age is 22

In [ ]:
#positional 
#and keyword argument (we need to pass key + value in the function in case of kwargs)
def greeting(name,age=20):
  print(f'my name is {name} and my age is {age}')

In [ ]:
greeting('abcd',27)

my name is abcd and my age is 27

In [ ]:
#more on *args and **kwargs

In [ ]:
def greetings(*args,**kwargs):
  print(args)
  print(kwargs)

In [ ]:
greetings("abcd","kummar",age=20,dob=1990)

('abcd', 'kummar')
{'age': 20, 'dob': 1990}

### OOPs Concept

In [ ]:
#bad practice style of creation of objects
class Person:
  pass
sudh_joe=Person()
sudh_joe.name="sudh"
sudh_joe.surname='kumar'
sudh_joe.year_of_bearth=1998

aks=Person()
aks.name="Akash"
aks.surname="Verma"
aks.yob=2012
aks.age=8


print(sudh_joe)
print("%s %s was born in %d." %(sudh_joe.name,sudh_joe.surname,sudh_joe.year_of_bearth))

<__main__.Person object at 0x7f6637b49ba8>
sudh kumar was born in 1998.

In [1]:
#good style of creating the objects of a class
class Person:
  def __init__(a,name,surname,year):
    a.name=name
    a.sur=surname
    a.year=year

  def age(a, current_year):
    return current_year-a.year
  
  def UPPER_String(a):
    return a.name.upper()

  def __str__(a):
    return "%s %s was born in %d." % (a.name,a.sur,a.year)
  

alex=Person('Alex',"jattinx",1958)
print(alex)
print(alex.age(2020))  
print(alex.UPPER_String())
print(alex.__dict__)

Alex jattinx was born in 1958.
62
ALEX
{'name': 'Alex', 'sur': 'jattinx', 'year': 1958}

**Protect your abstraction**
* _(single) : protected
* __(private): private
* everything else is public

In [1]:
class Person:
  def __init__(self,name,surname,year):
    self._name=name
    self._sur=surname
    self._year=year

  def age(self, current_year):
    return current_year-self._year
  
  def UPPER_String(self):
    return a.name.upper()

  def __str__(self):
    return "%s %s was born in %d." % (self._name,self._sur,self._year)
  

alex=Person('Alex','vateran',1994)
print(alex)
print(alex._name) #not gives error
alex.__dict__ # check how they store in memory

Alex vateran was born in 1994.
Alex

{'_name': 'Alex', '_sur': 'vateran', '_year': 1994}

In [5]:
class Person:
  def __init__(self,name,surname,year):
    self.__name=name
    self.__sur=surname
    self.__year=year

  def age(self, current_year):
    return current_year-self.__year
  
  def __str__(self):
    return "%s %s was born in %d." % (self.__name,self.__sur,self.__year)


alex=Person('Alex','vateran',1994)
print(alex)
#print(alex.__name) -> AttributeError  
alex.__dict__ # check how they store in memory 

#trick to access outside class
print(f"{alex._Person__name} {alex._Person__sur}") #object._ClassName__Name

Alex vateran was born in 1994.
Alex vateran

***In terms of some notation we are able do abstraction in python.***

**Inheritence**

In [ ]:
class Student(Person):
  def __init__(self,stu_id,*args):
    super(Student,self).__init__(*args) #invoking parent class constructor or any method of paarent class 
    self.stu_id=stu_id

charlie = Student(101,'aks','kumar',1960)

print(charlie.stu_id)

print(type(charlie))

print(isinstance(charlie,Person)) #child class instance always be instance of Parent class
print(isinstance(charlie,object))

print(charlie.name)
print(charlie.age(2014))
print(charlie.stu_id)
print(charlie.UPPER_String())
print(charlie.sur)
print(charlie.__dict__)

101
<class '__main__.Student'>
True
True
aks
54
101
AKS
kumar
{'name': 'aks', 'sur': 'kumar', 'year': 1960, 'stu_id': 101}

In [13]:
#multiplie inheritance
class A:
  def __init__(self,x,y):
    self.x=x
    self.y=y

  def test(self):
    print("class A method")
  

class B:
  def __init__(self,a,b):
    self.a=a
    self.b=b

  def test(self):
    print("class B method")

class C(A,B):
    
    def __init__(self):
        print('constructor C')
        
    def test(self):
        print("class C method")
    
    
  
obja = A("ajs",21)
objb = B("awd",20)
obja.test()
objb.test()
objc = C()
objc.test()

class A method
class B method
constructor C
class C method

In [18]:
#diamond problem Order resoliution Method(ORM)

#multiplie inheritance
class A:

  def test(self):
    print("class A method")
  

class B(A):

  def test1(self):
    print("class B method")
    

class C(A):
        
    def test1(self):
        print("class C method")
        
class D(B, C):
    pass

objD = D()
objD.test() #diaomd problem -> ORM(gives the test from B not from C)
objD.test1() # gives the output for class B method, since using ORM first B class is inherited then C,

class A method
class B method

In [19]:
#method overriding
class Student(Person):
  def __init__(self,stu_id,*args):
    super(Student,self).__init__(*args)
    self.stu_id=stu_id
  
  def __str__(self):
    return super(Student,self).__str__()+" and has is is %d" % self.stu_id


charlie=Student(101,'aks','kumar',1960)
print(charlie)
print(charlie.__dict__)

aks kumar was born in 1960. and has is is 101
{'_Person__name': 'aks', '_Person__sur': 'kumar', '_Person__year': 1960, 'stu_id': 101}

* Encapsulation: Hiding the actual implementation black box for a method just know the use of it, thats it!

* So encapsulation also a kind of reusability concept

* 1.Composite Encapsulation we just use those methods or classes which is developed by someone by assuming faith of them

In [ ]:
class Tyres:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch: " + self.branch +
               "\n \tBelted-bias: " + str(self.belted_bias) + 
               "\n \tOptimal pressure: " + str(self.opt_pressure))
        
class Engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return ("Engine: \n \tFuel type: " + self.fuel_type +
                "\n \tNoise level:" + str(self.noise_level))
        
class Body:
    def __init__(self, size):
        self.size = size
        
    def __str__(self):
        return "Body:\n \tSize: " + self.size
        
class Car:
    def __init__(self, tyres, engine, body):
        self.tyres = tyres
        self.engine = engine
        self.body = body
        
    def __str__(self):
        return str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body)

        
t = Tyres('Pirelli', True, 2.0)
e = Engine('Diesel', 3)
b = Body('Medium')
c = Car(t, e, b)
print(c)

Tyres:
 	Branch: Pirelli
 	Belted-bias: True
 	Optimal pressure: 2.0
Engine:
 	Fuel type: Diesel
 	Noise level:3
Body:
 	Size: Medium

In [6]:
#Dynamic Extension:
class Dog:
  def __init__(self,name,year,breed):
    self.name=name
    self.year_of_birth=year
    self.breed=breed

  def __str__(self):
    return "%s is a %s born in %d." % (self.name,self.breed,self.year_of_birth)

kud=Dog("Kudarvajka",2002,"pitbull")
print(kud)

Kudarvajka is a pitbull born in 2002.

In [ ]:
class Student:
  def __init__(self,anagraphic,stu_id):
    self.anagraphic=anagraphic
    self.stu_id=stu_id

  def __str__(self):
    return str(self.anagraphic) + " Student id: %d" % self.stu_id


alex_student=Student("aks",101)
kud_stu= Student(kud,102)

print(alex_student)
print(kud_stu)

aks Student id: 101
Kudarvajka is a pitbull born in 2002. Student id: 102

#### Polymorphism and Duck Typin

* Polymorphysm can be achieve using function level (function overloading) -> Now, `python doesnt support method overloading` like C++ or Java so we use class methods to create factory methods. 
* Polymorphysm can be acheive using class level (method overloading)

In [27]:
def test_poly(a,b):
  return a + b

"""
def test_poly(a, b, c):
    return a + b + c
This will give the error in line#15  -> missing 1 required positional argument
"""


print(test_poly(2,7))
print(test_poly('Aks','kumar'))
print(test_poly([2,3,4,5],[-1,-2]))
#print(test_poly('Aks ','kumar ', 'singh'))

9
Akskumar
[2, 3, 4, 5, -1, -2]

In [41]:
#same can be achieved using var_args on some extent-> *args
def PolyTets(*args):
    summ = 0
    for i in args:
        summ += i
        
    return summ
    
print(PolyTets(2,7))
print(PolyTets(2,7,11))
#print(PolyTets('Akshay ','kumar')) #not work
#print(PolyTets([2,3,4,5], [-1,-2], [8, 9, 10])) #not work

9
20

### Class or Static Variables in Python 
* The Python approach is simple; it doesnt require a static keyword.

In [52]:
class Student:
    
    #static variable
    stud = 0
    
    def __init__(self, name, roll):
        Student.stud += 1
        self.name = name
        self.roll_no = roll
        
    def ShowDetails(self):
        print(f"Number of students {self.stud}") #access using class Student.stud
        
stud1 = Student('Akshay', '179182828972')
stud1.ShowDetails()
stud2 = Student('Kartii', '179182826762')
stud1.ShowDetails()

#also access using object as well as class
print(stud1.stud)

Number of students 1
Number of students 2
2

### Class method vs Static method in Python

* A class method takes `cls` as the first parameter while a static method needs no specific parameters.
* A class method can access or modify the class state while a static method cant access or modify it.
* In general, static methods know nothing about the class state. They are utility-type methods that take some parameters and work upon those parameters. On the other hand class methods must have class as a parameter.
* We use @classmethod decorator in python to create a class method and we use @staticmethod decorator to create a static method in python.

In [5]:
from datetime import date
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    # a class method to create a Person object by birth year.
    @classmethod
    def fromBirthYear(cls, name, year):
        return cls(name, date.today().year - year)
    
    @staticmethod
    def isAdult(age):
        return age > 18

#creating object using normally   
p1 = Person('John Kerrry', 17)

#creating object using classmethod   
p2 = Person.fromBirthYear('Alex Dame', 1996)

print(p1.age)
print(p2.age)
print('Both are diiferent age above')
print(p2.name)
print('--'*10)
print(Person.isAdult(p1.age))
print(Person.isAdult(p2.age))

17
26
Both are diiferent age above
Alex Dame
--------------------
False
True

### Types of constructors:-

* `default constructor`: The default constructor is a simple constructor which doesnt accept any arguments. Its definition has only one argument which is a reference to the instance being constructed.

* `parameterized constructor`: constructor with parameters is known as parameterized constructor. The parameterized constructor takes its first argument as a reference to the instance being constructed known as self and the rest of the arguments are provided by the programmer.

### Destructors in Python
* In Python, destructors are not needed as much as in C++ because Python has a garbage collector that handles memory management automatically. 
* The `__del__()` method is a known as a destructor method in Python. It is called when all references to the object have been deleted

## Exception Handling

In [ ]:
f=open('trgyyec.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'trgyyec.txt'

* **we need to handle it**

In [ ]:
try:
  f=open('test.txt')
  print(f.read())

except IOError:
  print('file not found')

else:
  print('content written successfully')
  f.close()

this is good initiative
content written successfully

In [ ]:
try:
  f=open('test.txt','w') #permission with write
  print(f.write("not go fast"))

except IOError:
  print('file not found')

else:
  print('content written successfully')
  f.close()

11
content written successfully

* **else only executed when try successfully executed just like for-else statement**

* **Use of except: also work when we dont know about exception**

In [7]:
def test():
  try:
    val=int(input("enter integer"))
  except:
    print("looks like you didn't input integer")
  else:
    print("successfully executed")
  finally:
    print('i am finally, closed all the resources')
  try:
    print("value:",val)
  except:
    print('not consist value')

* **Compare both the below output**

In [8]:
test()

enter integereg
looks like you didn't input integer
i am finally, closed all the resources
not consist value

In [9]:
test()

enter integer76
successfully executed
i am finally, closed all the resources
value: 76

In [10]:
#best example
def test1():
  while True:
      try:
        val=int(input("enter integer: "))
      except:
        print("looks like you didn't input integer, please enter correct input again")
        continue
      else:
        print('yep,  we got an integer')
        break
      finally:
        print('i am finally, and closed all resources')

In [11]:
test1()

enter integer: efefr
looks like you didn't input integer, please enter correct input again
i am finally, and closed all resources
enter integer: 89
yep,  we got an integer
i am finally, and closed all resources

In [ ]:
#another best example like tossing game chances
def test2():
  count=5
  while count >= 1:
      try:
        val=int(input("enter integer: "))
      except:
         count -= 1
         print("looks like you didn't input integer, please enter correct input again, you have left with ",count,"chances now")
         continue
      else:
        print('yep,  we got an integer')
        break
      finally:
        print('i am finally, and closed all resources')
  if(count==0):
    print('all chances gone, please try aftersome time')

In [ ]:
test2()

enter integer: budhie
looks like you didn't input integer, please enter correct input again, you have left with  4 chances now
i am finally, and closed all resources
enter integer: dbi3jee
looks like you didn't input integer, please enter correct input again, you have left with  3 chances now
i am finally, and closed all resources
enter integer: 21
yep,  we got an integer
i am finally, and closed all resources

* **Use except only when doesn't know about specific error, then use only at the end of all except blocks**

In [ ]:
#multiple except through one try
def Example():
  try:
    val=int(input("enter integer"))
  except ValueError:
    print('Value Error')
  except:
    print("looks like you didn't input integer")
  else:
    print("successfully executed")
  finally:
    print('i am finally, closed all the resources')
  try:
    print("value:",val)
  except:
    print('not consist value')

    
Example()

enter integervygw
Value Error
i am finally, closed all the resources
not consist value

In [ ]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            try:
                val = int(input("Try again-Please enter an integer: "))
                print("your entered value: ",val)
            except:
                print("handle it: ")
        finally:
            print("Finally, I executed!")

In [ ]:
askint()

Please enter an integer: huirurhr
Looks like you did not enter an integer!
Try again-Please enter an integer: 45
your entered value:  45
Finally, I executed!

## raise exception

In [17]:
try:
    num = int(input("Enter a positive integer:"))
    if num <= 0:
        raise ValueError("Error Oops!: Entered negative number")
except ValueError as e:
    print(e)
else:
    print('No issue')

Enter a positive integer:-93
Error Oops!: Entered negative number

#### Creating custom exceptions
* always inheritn Exception class for the custom class creation

In [18]:
#example guess numbner 

class ValueTooSmallError(Exception):
    pass

class ValueTooLargeError(Exception):
    pass
    
    
number = 10

# user guesses a number until he/she gets it right, can also include the counter limit here
while True:
    try:
        i_num = int(input("Enter a number: "))
        if i_num < number:
            raise ValueTooSmallError
        elif i_num > number:
            raise ValueTooLargeError
        break
        
    except ValueTooSmallError:
        print("This value is too small, try again!")
        print()
        
    except ValueTooLargeError:
        print("This value is too large, try again!")
        print()

print("Congratulations! You guessed it correctly.")

Enter a number: 45
This value is too large, try again!

Enter a number: 80
This value is too large, try again!

Enter a number: 1
This value is too small, try again!

Enter a number: 10
Congratulations! You guessed it correctly.

### Few Important conecpts:

* Can one block of except statements handle multiple exception?
    * yes, like except TypeError, SyntaxError
* An exception is an object that is raised by a function signaling that an unexpected situation has occurred, that the function itself cannot handle.

In [37]:
#example

def Test():
    
    try:
        return 1
    
    #finally always executed
    finally:
        
        return 2
    
    
k = Test()
print(k)

2

In [42]:
#invalid code
try:
    if '1' != 1:
        raise "SomeException"
    else:
        print("ValueError has not occurred")
        
except "SomeException":
    print ("ValueError has occurred")

TypeError: catching classes that do not inherit from BaseException is not allowed

In [44]:
def f(x):
    yield x+1
g=f(8)
print(next(g))
print(next(g))

9

StopIteration:

* various Famouus Exceptions in python
    - ImportError
    - NameError
    - ValueError
    - TypeError
    - IndexError
    - IndexError

In [47]:
#import error
from skleran import ghetd

ModuleNotFoundError: No module named 'skleran'

In [48]:
#name error
print(d)

NameError: name 'd' is not defined

In [49]:
#value Error
int('43.5')

ValueError: invalid literal for int() with base 10: '43.5'

In [50]:
#TypeError
4 + 'k'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
#index Error or list out of bound
arr = list(range(6))
arr[8]

IndexError: list index out of range

### Few important concepts

In [1]:
class A:
    def __init__(self):
        self.__x = 1 # private member of class 'A'
        
class B(A):
    def display(self):
        print(self.__x) #can't access the private member of class outside 
        
def main():
    obj = B()
    obj.display()
    
main()

AttributeError: 'B' object has no attribute '_B__x'

In [2]:
class A:
    def __init__(self, x = 3):
        self._x = x #protected member can be access outside
        
class B(A):
    def __init__(self):
        super().__init__(5) #initializing the protected member using constructor
        
        
    def display(self):
        print(self._x) #protected don't throw an error/exception 
        
        
def main():
    obj = B()
    obj.display()
 
main()

5

In [169]:
class A:
    def test(self):
        print("test of A called")
    
class B(A):
    def test(self):
        print("test of B called")
        super().test()

class C(A):
      def test(self):
        print("test of C called") 
        super().test()  

class D(B, C):
      def test2(self):
        print("test of D called")
    
obj = D()
obj.test()

test of B called
test of C called

* Since the invoking method, super().test() is called in the subclasses, all the three methods of test() in three different classes is called.

In [8]:
class A:
    def one(self):
        return self.two()
 
    def two(self):
        return 'A'
    
class B(A):
    def two(self):
        return 'B'
    
    
obj1 = A() #obj1 is the refrence of A,
obj2 = B() #obj2 is the refrence of B,

print(obj1.two()) #this will invoke class A method,
print(obj2.two()) #this will invoke class B method,

print(isinstance(obj1, A)) ## -> gives true
print(isinstance(obj1, B)) ## -> gives false
print(isinstance(obj2, A)) ## -> gives true --> noted
print(isinstance(obj2, B)) ## -> gives true

A
B
True
False
True
True

In [12]:
print(help(obj2))

Help on B in module __main__ object:

class B(A)
 |  Method resolution order:
 |      B
 |      A
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  two(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from A:
 |
 |  one(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from A:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [14]:
print(type(obj1))
print(type(obj2))

<class '__main__.A'>
<class '__main__.B'>

In [16]:
#Below code didn't work since we are not initializing member of Test using Derived class 
class Test:
    def __init__(self):
        self.x = 0
        
class Derived_Test(Test):
    def __init__(self):
        self.y = 1
        
def main():
    b = Derived_Test()
    print(b.x,b.y)
    
main()

AttributeError: 'Derived_Test' object has no attribute 'x'

In [24]:
#Below code is the way to inherit the member of super class  

class Test:
    def __init__(self):
        self.x = 0
        
class Derived_Test(Test):
    def __init__(self):
        self.y = 1
        super().__init__() #it didn't require 'self' paarameter using super()  
        
def main():
    b = Derived_Test()
    print(b.x,b.y)
    
main()

0 1

In [171]:
class Test:
    def __init__(self):
        self.x = 0
 
#not having derived construcot then it will invoke the parent
class Derived_Test(Test):
    def display(self):
        print(self.x)
        
def main():
    b = Derived_Test()
    b.display()
    
main()

0

In [25]:
#or by using the class name
class Test:
    def __init__(self):
        self.x = 0
        
    def fun(self):
        print("I'm the function of parent class 'Test' ")
        
class Derived_Test(Test):
    def __init__(self):
        self.y = 1
        Test.__init__(self) #it require 'self' paarameter using Parent class name 
        
    def display(self):
        print('derived display method')
        print('using class name self parameter is required ')
        Test.fun(self) #fun() missing 1 required positional argument: 'self' --> if self wont there
        
        print('using super method self parameter is not required')
        super().fun() #not needed 'self'
        
        
def main():
    b = Derived_Test()
    print(b.x,b.y)
    b.display()
    
main()

0 1
derived display method
using class name self parameter is required
I'm the function of parent class 'Test'
using super method self parameter is not required
I'm the function of parent class 'Test'

<h3><center> __new__ vs __init__ <center><h3>

*  `__new__` method will be called when an object is created.
* `__init__` method will be called to initialize the object. **`init --> initialize`**
* If both `__init__` method and `__new__` method exists in the class, then the `__new__` method is executed first,  and decides whether to use `__init__` method or not, 
* `other class constructors can be called by __new__ method` or it can simply return other objects as an instance of this class.
* `__new__` method can return (for e.g. instance of another class) but `__init__` can't return anything

In [28]:
#example1
#init is not invoked here

class A:
    def __init__(self):
        print('init initalize the object')
    
    def __new__(self):
         print('new invoked when objects are created')
         return 'new can return'

print(A())

new invoked when objects are created
new can return

In [32]:
#example2
#init invoked by new 

class A:
    def __init__(self):
        
        print('init initalize the object')
    
    def __new__(self):
        
         self.__init__(self)
            
         print('new invoked when objects are created')
         
         return 'new can return'

print(A())

init initalize the object
new invoked when objects are created
new can return

In [36]:
#create instance attribute outside class
class Test:
    
    def __init__(self, count = 1):
        self.count = count
        
    def display(self):
        print(self.count)
    
a = Test()
a.display()

#creating member outside will also work
a.name = 'John'

print(a)
print(a.name)
print(a.count)

1
<__main__.Test object at 0x7fcd5321d3a0>
John
1

 ### Few Polymorphysm Concepts

In [61]:
#top example for acheving polymorphysm as method overriding
class A:
    def __init__(self):
        self.multiply(10)  # --> caller object is derived class object,  hence derived class method will get invoked
        print(self.i)

    def multiply(self, i):
        print("I'm in Base class")
        self.i = 4 * i;


class B(A):
    def __init__(self):
        super().__init__()

    def multiply(self, i):
        print("I'm in Derived class")
        self.i = 2 * i;


obj = B()

I'm in Derived class
20

In [66]:
#Example -> Operator overloading 
#operator level overloading
class A:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __str__(self):
        return 1
    
    def __eq__(self, other):
        return self.x * self.y == other.x * other.y
    
    
obj1 = A(5, 2)
obj2 = A(2, 5)

print(obj1 == obj2) ## -> __eq__ dunder method will invoked

True

In [71]:
#Example: Method Overriding on Private method
#and private method can't be override

class Demo:
    def __check(self): #this is a private method 
        return " Demo's check "
    
    def display(self):
        print(self.__check())
        
class Demo_Derived(Demo):
    
    def __check(self):
        return " Derived's check "
    
Demo().display()
Demo_Derived().display()

 Demo's check
 Demo's check

In [84]:
#Example: When derived class dont have the check method then it will execute the check method of Base class

class Demo:
    def check(self): #this is a private method 
        return " Demo's check "
    
    def display(self):
        print(self.check())
        
class Demo_Derived(Demo):
    pass
    
Demo().display()
Demo_Derived().display()

 Demo's check
 Demo's check

In [79]:
#example1: 
#when derived class constructor is not defind then it will invoke the base conbstrutor
class Demo:
    def __init__(self):
        print('Base')
        self.x = 1
        
    def change(self):
        self.x = 10
        
class Demo_derived(Demo):
    
    def change(self):
        self.x = self.x + 1
        return self.x
    
    
def main():
    obj = Demo_derived()
    print(obj.change())
 
main()

Base
2

In [82]:
#example2: 
#when derived class constructor is defind, then to initialize the base class constructor 
#derived  must invoke the base conbstrutor to use its members attribute
class Demo:
    def __init__(self):
        print('In Base')
        self.x = 1
        
    def change(self):
        self.x = 10
        
class Demo_derived(Demo):
     
    def __init__(self):
        print('In demo_derived')
        self.y = 10
        
    def change(self):
        self.x = self.x + 1 ##here we'll get error
        return self.x
    
    
def main():
    obj = Demo_derived()
    print(obj.change())
 
main()

In demo_derived

AttributeError: 'Demo_derived' object has no attribute 'x'

### Operator Overloading

* we `define a method` for an operator and that process is called operator overloading. 
* To perform `operator overloading`, Python provides some special function or `magic function` that is automatically invoked when it is associated with that particular operator. 
* Let' s say for `+` we have `__add__` magic function.

* Python magic methods or special functions for operator overloading

* Operator Magic Method

| Magic Method | Operator | 
| --- | ---|
|	__add__(self, other)|    | + |
|	__sub__(self, other)|| - |
|	__mul__(self, other)|| * |
|	__truediv__(self, other)|| / |
|	__floordiv__(self, other)||//|
|	__mod__(self, other)||%|
|	__pow__(self, other)||**|
|	__rshift__(self, other)||>>|
|	__lshift__(self, other)||<<|
|	__and__(self, other)||&|
|	__or__(self, other)||`|`|
|	__xor__(self, other)||^|

In [91]:
#exampe overloading 

print(2 + 7)
print([1,2,3] * 2)
print('string1' +  'string2')
print('string1' * 3)

9
[1, 2, 3, 1, 2, 3]
string1string2
string1string1string1

In [106]:
#lets do some operator overloading b/w two objects 
class Test:
    def __init__(self, var):
        self.a  = var
        
    def __add__(self, other):
        return self.a + other.a 
    
    def __sub__(self, other):
        return self.a - other.a
    
    def __eq__(self, other):
        return self.a == other.a
    
    def __mul__(self, other):
        return self.a >= other.a
    
    def __ge__(self, other):
        return self.a >= other.a

    def __le__(self, other):
        return self.a <= other.a
    
    def __gt__(self, other):
        return self.a > other.a
    
    def __lt__(self, other):
        return self.a < other.a
    
    

obj1 = Test(5)
obj2 = Test(2)

print(obj1 + obj2)
print(obj1 - obj2)  
print(obj1 == obj2)
print(obj1 * obj2 )
print(obj1 >= obj2)
print(obj1 <= obj2)
print(obj1 > obj2)
print(obj1 < obj2)

7
3
False
True
True
False
True
False

<h2><center>File Handling Concept<center></h2>

* https://www.geeksforgeeks.org/writing-to-file-in-python/?ref=lbp

* Read Operation
    * 2.read() 
    * 3.readlines() 
    * 4.seek() 
    * 11.readline()

* Create Operation 
    * 1.Creating File 
    * 6.open(parameters) 

* Write Operation
    * 5.WRITE
    * 7.write() 
    * 12. writelines()
  
* Other Operation

    * 9.close()
    * 8.Iteration Over the File |StringIO|
    * 10.tell() return current position of file pointer

**File magic function in order to crete a file**

* Open function supports the following mode:

    * r: open an existing file for a read operation.
    * w: open an existing file for a write operation. If the file already contains some data then it will be overridden.
    * a:  open an existing file for append operation. It wont override existing data.
    * r+:  To read and write data into the file. The previous data in the file will be overridden.
    * w+: To write and read data. It will override existing data.
    * a+: To append and read data from the file. It wont override existing data

All above will work with text file.

* For binary file with same operation use append `b`,
    * rb, wb, ab, rb+, wb+, ab+

### creating file

In [ ]:
%%writefile test.txt
Hello, this is a quick test file,akshay leading file

Writing test.txt

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

### open file

In [167]:
my_file = open('test.txt', mode = 'r')
my_file

### read file

In [168]:
my_file.read()

'This is line#1\nThis is line#2\nThis is line#3\nThis is line#4\nThis is line#5'

In [169]:
#now execute again we'll get empty since cursor reached at end
my_file.read()

''

* moving `cursor` back in order to read a file using `seek method`
* cursor by default start from `0`

In [195]:
my_file.seek(0)

0

In [196]:
#read only first 10 characters
my_file.read(10)

'This is li'

In [197]:
#read next 4 characters from current position of cursor 
my_file.read(4)

'ne#1'

In [198]:
#return current position of pointer or curson position
my_file.tell()

14

In [199]:
#lets check what happen if cursor read from end return an empty string
#my_file.seek()
print(my_file.read(100))
print(my_file.read(20))

This is line#2
This is line#3
This is line#4
This is line#5

In [200]:
#set back to 0
my_file.seek(0)

0

* `readlines()` method returning a `list of file` content

In [182]:
my_file.readlines()
#after reading all content cursor will reach at end

['This is line#1\n',
 'This is line#2\n',
 'This is line#3\n',
 'This is line#4\n',
 'This is line#5']

In [184]:
#cursor at end
my_file.readlines()

[]

### 2nd argument in open function(file permission)

In [159]:
#this will delete the previous content and append new content
fptr = open('test.txt', mode = 'w+')

In [160]:
fptr.write("this is good initiative")

23

In [161]:
fptr.seek(0)

0

In [162]:
fptr.read()

'this is good initiative'

In [146]:
#using magic method to add line, if file not exists it create first
%%writefile temp.txt
firstl line
second line
third line

SyntaxError: invalid syntax (<ipython-input-146-cba16ce59098>, line 3)

In [147]:
fptr = open('test.txt')

In [149]:
#this will also gives the new line character
fptr.read()

'this is good initiative\nthis is my 2nd line\nthis is my 3rd line.'

In [150]:
fptr.seek(0)

0

#### `readlines()` -> reads all the lines and return them as each` line a string element in a list`

In [218]:
#return the list of text content also include new line character we have to handle it saperately
fptr = open('test.txt', mode = 'r')
print(fptr.readlines())
fptr.close()

['This is line#1\n', 'This is line#2\n', 'This is line#3\n', 'This is line#4\n', 'This is line#5']

#### `readline()` ->Reads a line of the file and returns in form of a string. However, `does not reads more than one line`

In [222]:
fptr = open('test.txt', mode = 'r')
print(fptr.readline())
fptr.close()

This is line#1

#### `writelines()`  -> write the multiple line in one go

In [230]:
L = ['this is good initiative \n', 'this is my 2nd line \n', 'this is my 3rd line \n']
file = open('test.txt', mode = 'w+')
file.writelines(L)
file.seek(0)
print(file.readlines())
file.close()

['this is good initiative \n', 'this is my 2nd line \n', 'this is my 3rd line \n']

In [153]:
#same can be acheive below
lineList = []
for line in open('test.txt'):
  lineList.append(line)

lineList

['this is good initiative\n', 'this is my 2nd line\n', 'this is my 3rd line.']

#### Write file

In [213]:
#if file doesn't exists it first create file, if already there then override
#cursor also moves from curr position, if we write something and get current cursor using tell

fptr = open('geeks.txt', mode  = 'w')
fptr.write('This is a first command. ')
print(fptr.tell())
fptr.write('This is a second command. ')
print(fptr.tell())
fptr.write('This is a third command. ')
print(fptr.tell())
fptr.close()

#close() function closes the file and frees the memory space acquired by that file.

25
51
76

#### append file 

* append will not append from newline `\n`
* So first write `fptr.write('\n')` then hit fptr.write(text)

In [214]:
#if file doesn't exists it first also create file
fptr = open('geeks.txt', mode  = 'a')
fptr.write('This is a fifth command. ')
print(fptr.tell())
fptr.write('This is a sixth command. ')
print(fptr.tell())
fptr.close()

101
126

#### Use `with`

In [215]:
#no need to close the resources, after intendation automatically close
with open('geeks.txt', mode = 'a') as fptr:
    fptr.write('This is append with ')

#### `split()` using in file handling

In [216]:
with open('geeks.txt', mode = 'r') as file:
    sentences = file.readlines()
    
    for sent in sentences:
        word = sent.split()
        print(word)

['This', 'is', 'a', 'first', 'command.', 'This', 'is', 'a', 'second', 'command.', 'This', 'is', 'a', 'third', 'command.', 'This', 'is', 'a', 'fifth', 'command.', 'This', 'is', 'a', 'sixth', 'command.', 'This', 'is', 'append', 'with']

## os module

* **os module in Python which brings the support of file rename/delete operations.**

|Specific methods|
|-------|
| os.rename()|
| os.remove()| 
| os.getcwd() |
| os.listdir()|
| os.mkdir() |
| os.rmdir()|

In [155]:
#rename operation
import os
os.rename("test.txt", "sample.txt")

In [156]:
#Delete a file sample.txt
os.remove("sample.txt")

In [162]:
#List Directories and Files in current working directory
os.listdir(os.getcwd())

['HackerEarth_TransUnion',
 'webrest',
 'requirements_bkp.txt',
 '.DS_Store',
 'Untitled.ipynb',
 'Loan Prediction',
 'numpy_practice.ipynb',
 '.hidden2.txt',
 '.hidden1.txt',
 'Matplotlib_Rivision_Notebook.ipynb',
 'Tredence_dataset',
 'Pandas_Rivision_Notes.ipynb',
 '__pycache__',
 'test.py',
 'sqlAlchemy',
 'test2.py',
 'multi-processing.py',
 'test.html',
 'prog3.py',
 'pythonfiles',
 'jenkinsfile',
 'BigMart_Sales',
 'Python_Rivision_Notes.ipynb',
 '.ipynb_checkpoints',
 '.hidden.txt',
 'ssh.py',
 'plotting.ipynb',
 '.git',
 'webtest',
 'jobAthon']

In [159]:
#Making New Directory
os.mkdir('test')

In [161]:
#However, note that rmdir() method can only remove empty directories.
os.rmdir('test')

* `string IO` by which string treated as file

In [163]:
from io import StringIO

In [164]:
msg = "file handling concept in pyhton"

In [165]:
#Now we have an object f that we will be able to treat just like a file. For example:
f = StringIO(msg)

In [ ]:
f.read()

'file handling concept in pyhton'

In [ ]:
f.write(" Learn Conceptually")

19

In [ ]:
f.seek(0)

0

In [ ]:
f.read()

'file handling concept in pyhton Learn Conceptually'

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

## Database connectivity and operations using Python.

In [ ]:
import sqlite3 as sql

##### this will create a database on memory

In [ ]:
#create database
db=sql.connect("myDatabase.db")
#create table on database
db.execute("create table grades1(id int,name txt,score int)")
#insert values into table grades1
db.execute("insert into grades1(id, name, score) values (101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values (102, 'gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [ ]:
#save database
db.commit()

#### fetching value from database

In [ ]:
results= db.execute("select *from grades1 order by id")
for rows in results:
    print(rows)
print("-" * 80)

(101, 'John', 99)
(102, 'gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
--------------------------------------------------------------------------------

In [ ]:
results= db.execute("select *from grades1 order by score")
for rows in results:
    print(rows)
print("-" * 80)

(103, 'James', 80)
(104, 'Cathy', 85)
(102, 'gary', 90)
(105, 'Kris', 95)
(101, 'John', 99)
--------------------------------------------------------------------------------

In [ ]:
results= db.execute("select *from grades1 order by name")
for rows in results:
    print(rows)
print("-" * 80)

(104, 'Cathy', 85)
(103, 'James', 80)
(101, 'John', 99)
(105, 'Kris', 95)
(102, 'gary', 90)
--------------------------------------------------------------------------------

In [ ]:
results= db.execute("select *from grades1 where score >= 90")
for rows in results:
    print(rows)
print("-" * 80)

(101, 'John', 99)
(102, 'gary', 90)
(105, 'Kris', 95)
--------------------------------------------------------------------------------

In [ ]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 80 )

('John', 99)
('Kris', 95)
('gary', 90)
('Cathy', 85)
('James', 80)
--------------------------------------------------------------------------------

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

## Modules and Packages

* **Modules in Python are simply Python files with the .py extension, which implement a set of functions. Modules are imported from other modules using the import command.**

In [ ]:
# import the library
import math

In [ ]:
# use it (ceiling rounding)
print(math.ceil(2.4))
print(math.floor(23.56))
print(math.sqrt(16))
print(round(math.log2(34),4))

3
23
4.0
5.0875

### Exploring built-in modules

In [ ]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

**While exploring modules in Python, two important functions come in handy - the dir and help functions and shift + Tab also very handy**

In [ ]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

### Writing modules

* **Writing Python modules is very simple. To create a module of your own, simply create a new .py file with the module name, and then import it**

### Writing packages

* **Packages are name-spaces which contain multiple packages and modules themselves. They are simply directories, but with a twist.**

***The twist is, each package in Python is a directory which MUST contain a special file called _init_.py. This file can be empty, and it indicates that the directory it contains is a Python package, so it can be imported the same way a module can be imported.***

* **for example, If we create a directory called foo, which marks the package name, we can then create a module inside that package called bar. We also must not forget to add the _init_.py file inside the foo directory.**

***To use the module bar, we can import it in two ways:***

* **NOTE: what should be in init.py module in side package(folder)**
    * NOTE this module can either empty or may be contain some initialization code itself 
    * example by which we can access or import a module from inside some nested packages

<img src="https://github.com/AkshaySingh-DS/MachineLearning_and_DataScience_Concept/blob/main/Rivision_Notebooks/PackageModuleStructure.jpg?raw=1">

* ***Example in order to access open module:***
    * import Game.Image.open

### Importing Modules
* **import all from a module**
    * from math import *
* **import only module**
    * import module_name
* **import specific method from module**
    * From math import sqrt

### getting name of all methods inside a module  -->  dir(module_name)

In [ ]:
# Just an example, this won't work
import foo.bar

In [ ]:
# OR could do it this way
from foo import bar

**The _init_.py file can also decide which modules the package exports as the API, while keeping other modules internal, by overriding the _all_ variable, like so:**

In [ ]:
__init__.py:

__all__ = ["bar"]

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

## Pyhton Debugger(PDB)

* PDB pdb implements an interactive debugging environment for Python programs.It includes features to let you pause your program, look at the values of variables, and watch program execution step-by-step, so you can understand what your program actually does and find bugs in the logic.

* ***mainly use features to keep track of logic bug***    
    * c : continue
    * q: quit(left some error)
    * h: help(give you all option needed with pdb)
    *  list
    * p: print
    * p locals()
    * p globals()

In [ ]:
def test_pdb(num):
  for i in range(num):
     pdb.set_trace() # breakpoint
     print(i)

test_pdb(5)

> <ipython-input-5-dd130199fde2>(4)test_pdb()
-> print(i)
(Pdb) c
0
> <ipython-input-5-dd130199fde2>(3)test_pdb()
-> pdb.set_trace() # breakpoint
(Pdb) p locals()
{'num': 5, 'i': 1}
(Pdb) c
1
> <ipython-input-5-dd130199fde2>(4)test_pdb()
-> print(i)
(Pdb) p locals()
{'num': 5, 'i': 2}
(Pdb) h

Documented commands (type help <topic>):
========================================
EOF    c          d        h         list      q        rv       undisplay
a      cl         debug    help      ll        quit     s        unt
alias  clear      disable  ignore    longlist  r        source   until
args   commands   display  interact  n         restart  step     up
b      condition  down     j         next      return   tbreak   w
break  cont       enable   jump      p         retval   u        whatis
bt     continue   exit     l         pp        run      unalias  where

Miscellaneous help topics:
==========================
exec  pdb

(Pdb) c
2
> <ipython-input-5-dd130199fde2>(3)test_pdb()
-> pdb.set_trace() # breakpoint
(Pdb) c
3
> <ipython-input-5-dd130199fde2>(4)test_pdb()
-> print(i)
(Pdb) p locals()
{'num': 5, 'i': 4}
(Pdb) c
4

In [ ]:
import pandas as pd
df = pd.DataFrame({'key1': [1,2],'key2': ['a','b'], 'key3': ['fugrr','dfwy']})
df

   key1 key2   key3
0     1    a  fugrr
1     2    b   dfwy

In [ ]:
df=None

In [ ]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'

### Collections Module

* The collection Module in Python provides different types of containers.  
* A Container is an object that is used to store different objects and provide a way to access the contained objects and iterate over them

    * Level - 1 -> Counters, OrderedDict, DefaultDict, namedtupled
    * Level - 2 -> userdic, userlist, userstring
    * Level - 3 -> chainmap, deque

* Counters 
    * A counter is a `sub-class` of the dictionary. 
    * It is used to keep the count of the elements in an iterable in the form of an `unordered dictionary.`

In [128]:
from collections import Counter

arr = ['Akshay' , 'is', 'is', 'hard' , 'working', 'mahn']
obj = Counter(arr)
print(obj)
print(type(obj))

Counter({'is': 2, 'Akshay': 1, 'hard': 1, 'working': 1, 'mahn': 1})
<class 'collections.Counter'>

In [8]:
#iterating over counter
for item in obj:
    print(f"{item} : {obj[item]}")
    
print("--" * 20)

for key, val in obj.items():
    print(f"{key} : {val}")

Akshay : 1
is : 2
hard : 1
working : 1
mahn : 1
----------------------------------------
Akshay : 1
is : 2
hard : 1
working : 1
mahn : 1

In [9]:
#updating in counter object
obj['unlike'] = 4

for item in obj:
    print(f"{item} : {obj[item]}")

Akshay : 1
is : 2
hard : 1
working : 1
mahn : 1
unlike : 4

* some useful methods of counter same as dictionary
* since counter is a dictionary

In [129]:
#play with some others iterable
print(Counter("akshaySingh"))
print(Counter(('a', 'b', 'c', 'a', 'L', 'x', 'a', 'c')))

Counter({'a': 2, 'h': 2, 'k': 1, 's': 1, 'y': 1, 'S': 1, 'i': 1, 'n': 1, 'g': 1})
Counter({'a': 3, 'c': 2, 'b': 1, 'L': 1, 'x': 1})

* OrderedDict

    * An OrderedDict is also a `sub-class of dictionary` but unlike dictionary, it `remembers the order` in which the keys were inserted. 
    * Ordered dict in `Python version 2.7 consumes` more memory than normal dict.
    * This is due to the underlying Doubly Linked List implementation for keeping the order.

In [130]:
from collections import OrderedDict
dic = OrderedDict()

In [131]:
print(dic)
print(type(dic))

OrderedDict()
<class 'collections.OrderedDict'>

In [41]:
dic.update({'A': 5, "B": 2, 'C': 12, 'E':21, 'F': 8})
print(dic)

OrderedDict([('A', 5), ('B', 2), ('C', 12), ('E', 21), ('F', 8)])

In [42]:
#now use it just like dictionary
for key, val in dic.items():
    print(f"{key} : {val}")

A : 5
B : 2
C : 12
E : 21
F : 8

In [43]:
val = dic.pop('B')
print(f"key B of {val} value is deleted")

dic['B'] = val

#now observe the order after inseting key
for key, val in dic.items():
    print(f"{key} : {val}")

key B of 2 value is deleted
A : 5
C : 12
E : 21
F : 8
B : 2

* defaultdict

    * It is used to provide some default values for the key that does not exist and never raises a KeyError. 
    * `default_factory` is a function that provides the `default value` for the dictionary created. If this parameter is absent then the `KeyError is raised`.

In [132]:
from collections import defaultdict
dic = defaultdict(int)
lis = [1, 1, 2, 4, 2, 2, 3, 4 ,1, 5, 3]

for i in lis:
    dic[i] += 1

print(dic)

print('--' * 20)

dic2 = defaultdict()
#this gave you an error if jey is not found
for i in lis:
    dic2[i] += 1

defaultdict(<class 'int'>, {1: 3, 2: 3, 4: 2, 3: 2, 5: 1})
----------------------------------------

KeyError: 1

In [54]:
chars = ['c', 'a', 'd', 'p', 'i', 'w', 'c', 'a']
dic2 = defaultdict(str)

for char in chars:
    dic2[char]+= 'suffix'

print(dic2)

defaultdict(<class 'str'>, {'c': 'suffixsuffix', 'a': 'suffixsuffix', 'd': 'suffix', 'p': 'suffix', 'i': 'suffix', 'w': 'suffix'})

* namedtuple

    * It returns a tuple object.
    * This tuple object has two things
    
        - first name of the tuple
        - 2nd attributes/fields of tuple

In [134]:
from collections import namedtuple

#create named tuple object
employee = namedtuple('Employee', ['id', 'name', 'age', 'salary'])

#create 1st employee
emp1 = employee(101, 'John', 23, '1000$')

print(emp1)
print(type(employee))
print(type(emp1))

Employee(id=101, name='John', age=23, salary='1000$')
<class 'type'>
<class '__main__.Employee'>

In [75]:
#fetch the attributes of named tuple 

#using fields name
print(f"Emplyee details: name = {emp1.name}, \
      age = {emp1.age}, \
      salary = {emp1.salary}" 
)

print('--'* 20)

#using indices of fields
print(f"Employee data: id = {emp1[0]}, name = {emp1[1]},  age = {emp1[2]}")

Emplyee details: name = John,       age = 23,       salary = 1000$
----------------------------------------
Employee data: id = 101, name = John,  age = 23

In [78]:
#number of occurenece of a specific value
emp1.count('John')

1

In [82]:
#give the indices
emp1.index('1000$')

3

* _fields
* _replace

In [90]:
#get all fields of name tuple object
print(emp1._fields)

#replace the attribute value -> this will not work
emp1.name = 'Kumelator'

('id', 'name', 'age', 'salary')

AttributeError: can't set attribute

In [136]:
#hence use _replace to change the fields name but 
#since it's tuple hence we can't change the original object 
emp1._replace(name='Marry Rose', age = 26)
print(emp1)

#return the updated 2nd tuple
print('--' * 20)
emp2 = emp1._replace(name='Marry Rose', age = 26)
print(emp2)

Employee(id=101, name='John', age=23, salary='1000$')
----------------------------------------
Employee(id=101, name='Marry Rose', age=26, salary='1000$')

* make()
    * make(iterable_) takes the iterable and return the namedTuple 
*_asdict 
    * convert namedTuple Object into an ordinary dictionary

In [138]:
var = [109, 'Daniel', 32, '4500$']
print(emp1._make(var)) #again it will create new namedTuple object instead of replacing current
print(emp1)

Employee(id=109, name='Daniel', age=32, salary='4500$')
Employee(id=101, name='John', age=23, salary='1000$')

In [140]:
#return attribute as a key value pair
dic = emp1._asdict()
print(dic)
print(type(dic))

{'id': 101, 'name': 'John', 'age': 23, 'salary': '1000$'}
<class 'dict'>

* deque
    * It provides O(1) time complexity for append and pop operations as compared to list which takes O(n) time complexity.
    * Has almost all methods just like Ordinary list

In [122]:
from collections import deque

#create deque object, deque takes iterable as an object
iterable = ['xyz', 'SDE', 'AI']
dq = deque(iterable)

print(dq)

deque(['xyz', 'SDE', 'AI'])

In [123]:
#Insertion in deque

#insertion from rear
dq.append('ML')
print(dq)

#insertion from front
dq.appendleft('DevOps')
print(dq)

#less useful
dq.insert(3, 'FULL STACK')
print(dq)

deque(['xyz', 'SDE', 'AI', 'ML'])
deque(['DevOps', 'xyz', 'SDE', 'AI', 'ML'])
deque(['DevOps', 'xyz', 'SDE', 'FULL STACK', 'AI', 'ML'])

In [124]:
#deletion in deque

dq.pop() #delete from right
print(dq)

dq.popleft() #delete from left
print(dq)

deque(['DevOps', 'xyz', 'SDE', 'FULL STACK', 'AI'])
deque(['xyz', 'SDE', 'FULL STACK', 'AI'])

* ChainMap
    * encapsulates many dictionaries into a single unit and returns a list of dictionaries.

In [150]:
from collections import ChainMap

d1 = {'a': 2, 'c': 6}
d2 = {'b': 5, 'e': 9}
d3 = {'q': 2, 'l': 6}

#lets create dic which have some common keys from above
d4 = {'a': 4, 'k': 6, 'q':10}
chainList = ChainMap(d1, d2, d3, d4)
print(chainList)
print(type(chainList))

ChainMap({'a': 2, 'c': 6}, {'b': 5, 'e': 9}, {'q': 2, 'l': 6}, {'a': 4, 'k': 6, 'q': 10})
<class 'collections.ChainMap'>

In [151]:
#observed we are getting unique keys and fromlast
for gp in chainList:
    print(gp)

a
k
q
l
b
e
c

In [152]:
list(chainList.values())

[2, 6, 2, 6, 5, 9, 6]

In [153]:
list(chainList.keys())

['a', 'k', 'q', 'l', 'b', 'e', 'c']

In [154]:
chainList.maps

[{'a': 2, 'c': 6},
 {'b': 5, 'e': 9},
 {'q': 2, 'l': 6},
 {'a': 4, 'k': 6, 'q': 10}]

### Data Base connectivity with python

###  Regex

In [3]:
import re

txt = "The rain in Spain"
print(len(txt))
x = re.search("^The.*Spain$", txt)
x

17

In [4]:
x.pos

0

* Character -->	Description -->	Example	

* [] -->  A set of characters --> [a-m]

* \ --> Signals a special sequence (can also be used to escape special characters) -->	"\d"	
* .	--> Any character (except newline character)-->	"he..o"	 
* ^	--> Starts with	--> "^hello" 
* $	--> Ends with	--> "planet$" 
* `*`Zero or more occurrences --> "he.*o"	
* + -->	One or more occurrences	--> "he.+o" 
* ? --> Zero or one occurrences	--> "he.?o"	 
* {} --> Exactly the specified number of occurrences	--> "he.{2}o"
* `|`	Either or	--> "fallsstays"

* \w -->	Matches any alphanumeric character, this is equivalent to the class [a-zA-Z0-9_].
* \W -->	Matches any non-alphanumeric character.
* \s -->	Matches any whitespace character.
* \S -->	Matches any non-whitespace character
* \D --> Matches any non-digit character, this is equivalent to the set class [^0-9]
* \d -->	Matches any decimal digit, this is equivalent to the set class [0-9]
* \b --> Returns a match where the specified characters are at the beginning or at the end of a word

#### re.search
* re.search() method either returns None (if the pattern doesnt match), or a re.MatchObject that contains information about the matching part of the string.
* This method stops after the first match,

In [23]:
#example1 basic
txt = "The rain in Spain"
match = re.search(r"\bS\w+", txt)
print(match)
print(match.group())
print(match.start())
print(match.end())

<re.Match object; span=(12, 17), match='Spain'>
Spain
12
17

In [29]:
#Example2 
regex = r"([a-zA-Z]+) (\d+)"
match = re.search(regex, "I was born on June 24") 
if match != None:
    print("Match at index % s, % s" % (match.start(), match.end())) 
    print("Full match: % s" % (match.group()))

Match at index 14, 21
Full match: June 24

In [33]:
#example3 when match not found
regex = r"([a-zA-Z]+) (\d+)"
match = re.search(regex, "I was born on June") #return None if no match
if match != None:
    print("Match at index % s, % s" % (match.start(), match.end())) 
    print("Full match: % s" % (match.group()))
else:
    print('therec is no match')

therec is no match

#### re.findall

* Return all non-overlapping matches of pattern in string, as a list of strings.

In [34]:
#example1
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [36]:
#example2
string = """Hello my Number is 123456789 and 
             my friend's number is 987654321"""
    
# A sample regular expression to find digits. 
regex = '\d+'             
    
match = re.findall(regex, string)  #return empty string if match not found
print(match)

['123456789', '987654321']

In [65]:
#example when no match
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

#### re.compile()

* Regular expressions are compiled into pattern objects
* which have methods for various operations such as searching for pattern matches or performing string substitutions.

In [63]:
#example
patt = re.compile('[a-e]')
 
# findall() searches for the Regular Expression
# and return a list upon finding
print(patt.findall("Aye, said Mr. Gibenson Stark")) #or re.findall(patt, "Aye, said Mr. Gibenson Stark"))

['e', 'a', 'd', 'b', 'e', 'a']

#### re.split

In [10]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [11]:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

#### re.sub

In [15]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [14]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

* The Match object has properties and methods used to retrieve information about the search, and the result:

    * .span() returns a tuple containing the start-, and end positions of the match.
    * .string returns the string passed into the function
    * .group() returns the part of the string where there was a match

In [66]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())
print(x.string)
print(x.group())

(12, 17)
The rain in Spain
Spain

#### Password Validation using regex

* Scenerio
    * Conditions for a valid password are:
        * Should have at least one number.
        * Should have at least one uppercase and one lowercase character.
        * Should have at least one special symbol.
        * Should be between 6 to 20 characters long.

In [40]:
#method-1 - Naive Approach

def password_check(passwd):
    SpecialSym =['$', '@', '#', '%']
    val = True
    
    if len(passwd) < 6:
        print('length should be at least 6')
        val = False
          
    if len(passwd) > 20:
        print('length should be not be greater than 8')
        val = False
        
    if not any (char.isdigit() for char in passwd):
        print('Password should have at least one numeral')
        val = False
        
    if not any(char.isupper() for char in passwd):
        print('Password should have at least one uppercase letter')
        val = False
        
    if not any(char.islower() for char in passwd):
        print('Password should have at least one lowercase letter')
        val = False
        
    if not any(char in SpecialSym for char in passwd):
        print('Password should have at least one of the symbols $@#')
        val = False
        
    if val:
        return val
    
def main():
    passwd = input()
      
    if (password_check(passwd)):
        print("Password is valid")
    else:
        print("Invalid Password !!")
          
# Driver Code        
if __name__ == '__main__':
    main()

Akshaymanmu@12
Password is valid

In [47]:
#method-2 using regex
def password_check_regex(pswd):
     
        regex  = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!#%*?&]{6,20}$"
        
        patt = re.compile(regex)
        
        if re.search(patt, pswd):
            return True
        
        return False


def main():
    passwd = input()
      
    if (password_check_regex(passwd)):
        print("Password is valid")
    else:
        print("Invalid Password !!")
        
# Driver Code        
if __name__ == '__main__':
    main()

Akshay@1234
Password is valid

* Scenerio Question
    * Email Checker 
        * An email is a string (a subset of ASCII characters) separated into two parts by @ symbol, a personal_info and a domain, that is `personal_info@domain`.

In [59]:
def check(email):
 
    # pass the regular expression
    # and the string into the fullmatch() method {minlen, maxlen}, {exactlen}
    regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")

        
# Driver Code
if __name__ == '__main__':
 
    # Enter the email
    email = input()
 
    # calling run function
    check(email)

ankitrai326.com
Invalid Email